<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="player-modal" id="playerModal" class="modal">
   <div class="modal-content card">
      <div class="card-header card-header-success modal-header-content">
         <span></span>
         <span id="modalTitle" class="gruzini-title"></span>
         <span class="close">&times;</span>
      </div>
      <div class="card-body table-responsive">
         <div class="modal-div-content">
            <img id="modalPhoto" class="gruzini-player-photo">
         </div><br /><br />
         <div class="modal-div-content">
            <span class="gruzini-input-group-text">Age:&nbsp;</span>
            <span id="modalAge" class="gruzini-input-group-text"></span>
         </div><br />
         <div class="modal-div-content">
            <span class="gruzini-input-group-text">Gender:&nbsp;</span>
            <span id="modalGender" class="gruzini-input-group-text"></span>
         </div><br />
         <div class="modal-div-content">
            <span class="gruzini-input-group-text">Ranking points:&nbsp;</span>
            <span id="modalPoints" class="gruzini-input-group-text" style="color: #f08f00;"></span>
         </div>
      </div>
   </div>
</div>
</html>