.gruzini-ol-map {
    width: 100%;
    height:400px;
}

.ol-attribution:not(.ol-collapsed) {
    background-color: rgba(0,60,136,.5);
}

.ol-attribution:not(.ol-collapsed) button {
    background-color: #ffffff;
    color: rgba(0,60,136,.5);
}

.ol-attribution.ol-collapsed {
    background-color: rgba(0,60,136,.5);
}

.location {
    top: 280px;
    left: .5em;
}
.search-courts {
    top: 312px;
    left: .5em;
}

.ol-control button:disabled{
    background-color: rgba(0,60,136,.2);
    cursor: not-allowed;
}

/*slider styling*/
.ol-zoom .ol-zoom-out {
    margin-top: 204px;
}
.ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}
.ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
.ol-touch .ol-zoomslider {
    top: 2.75em;
}
/*end of slider styling*/