<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Tennistico
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Teko:300,400,500,700|Material+Icons"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <!-- CSS Files -->
    <link th:href="@{/css/material-dashboard.css}" rel="stylesheet"/>
</head>

<body class="dark-edition" style="background-image: url(/img/upcoming_background.jpg); background-size: cover">
<div class="wrapper">

    <!--Side Bar-->
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <!--End Side Bar-->

    <div class="main-panel">
        <!-- Navbar -->
        <nav th:insert="/fragments/navbar :: navbar"></nav>
        <!-- End Navbar -->

        <div class="main-panel gruzini-registration-main-panel">
            <div class="content">
                <div class="container-fluid">


                    <div class="row">
                        <!--               placed here to put the card in center -->
                        <!--                    <div class="col-xl-1"></div>-->

                        <div class="col-lg-12">
                            <div class="card card-chart">
                                <div class="card-header card-header-success">
                                    <p class="gruzini-title">Courts</p>
                                </div>
                                <div class="card-body">


                                    <div class="card-body table-responsive gruzini-text-card-content">
                                        <div class="gruzini-card-desc">
                                            Below you can see all courts in our database. Select one and set a new game there. Please remember to verify and book the specific hours using contact information ex. phone number.
                                        </div>
                                        <div class="gruzini-card-desc gruzini-search">
                                            <form class="gruzini-search-form"
                                                  method="post" th:action="@{/dashboard/courts}">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text gruzini-input-group-text gruzini-search-title"
                                                                id="genderSelect">City:</span>
                                                    </div>
                                                    <select name="selectedCity" class="custom-select gruzini-select gruzini-search-field" aria-describedby="citySelect">
                                                        <option th:each="city : ${cities}"
                                                                th:value="${city.toString()}"
                                                                th:text="${city.toString()}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <button id="hiddenSubmitButton" type="submit" hidden></button>
                                            </form>
                                            <button class="btn btn-success gruzini-btn-success gruzini-search-button" id="buttonSubmit"
                                                    onclick="submitByHiddenButton()">Search
                                            </button>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                            <th class="gruzini-text-card-content">ID</th>
                                            <th class="gruzini-text-card-content">Name</th>
                                            <th class="gruzini-text-card-content">Address</th>
                                            <th class="gruzini-text-card-content">City</th>
                                            <th class="gruzini-text-card-content">Phone Number</th>
                                            <th class="gruzini-text-card-content"></th>
                                            </thead>
                                            <tbody>
                                            <div th:each="court, iter : ${foundCourts}" >
                                                <tr>
                                                    <td th:text="${iter.index+1}"></td>
                                                    <td th:text="${court.getName()}"></td>
                                                    <td th:text="${court.getAddress()}"></td>
                                                    <td th:text="${court.getCity()}"></td>
                                                    <td th:text="${court.getPhoneNumber()}"></td>
                                                    <td style="width: 110px !important;">
                                                        <form method="post" th:action="@{/dashboard/create/begin}">
                                                            <input hidden type="text" name="courtId" th:value="${court.getCourtId()}"/>
                                                            <input type="submit" class="btn btn-success gruzini-btn-success gruzini-button-small" value="Play here!">
                                                        </form>
                                                    </td>
                                                </tr>
                                            </div>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
<!--                                <div class="card-footer d-flex justify-content-center">-->
<!--                                    <a href="/dashboard/create" class="btn btn-success gruzini-btn-success" role="button"-->
<!--                                       aria-pressed="true">-->
<!--                                        No game seems right? Create a new one-->
<!--                                    </a>-->
<!--                                </div>-->
                            </div>
                        </div>

                        <!--               placed here to put the card in center -->
                        <!--                    <div class="col-xl-1"></div>-->
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="https://creative-tim.com/presentation">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="https://www.creative-tim.com/license">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right" id="date">
                        , made with <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                    </div>
                </div>
            </footer>
            <script>
                const x = new Date().getFullYear();
                let date = document.getElementById('date');
                date.innerHTML = '&copy; ' + x + date.innerHTML;
            </script>
            <script>
                function submitByHiddenButton() {
                    document.getElementById("hiddenSubmitButton").click();
                }
            </script>
            <!--      or we can simply disable the autofill option so it stops ruining the styling-->
            <script>
                const inputs = document.querySelectorAll('input');

                inputs.forEach(input => {
                    input.setAttribute('autocomplete', 'off')
                    input.setAttribute('autocorrect', 'off')
                    input.setAttribute('autocapitalize', 'off')
                    input.setAttribute('spellcheck', false)
                })
            </script>
        </div>
    </div>

    <script th:src="@{/js/core/jquery.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap-material-design.min.js}"></script>
    <script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>

</body>
</html>