<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/head :: head"></head>

<body class="dark-edition" style="background-image: url(/img/upcoming_background.jpg); background-size: cover">
<div class="wrapper">

  <!--Side Bar-->
  <div th:insert="fragments/sidebar :: sidebar"></div>
  <!--End Side Bar-->

  <div class="main-panel">
    <!-- Navbar -->
    <nav th:insert="/fragments/navbar :: navbar"></nav>
    <!-- End Navbar -->

    <div class="main-panel gruzini-registration-main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <p class="gruzini-title">Courts</p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="card-body table-responsive gruzini-text-card-content">
                        <div id="map" class="gruzini-ol-map"></div>
                        <div id="info" style="display: none;"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <form method="post" th:action="@{/courts}"
                            th:object="${courtForm}">

                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                                 <span class="input-group-text gruzini-input-group-text" id="courtNameAddon">
                                    Court name:
                                 </span>
                          </div>
                          <input type="text" class="form-control gruzini-registration-text" id="courtName"
                                 th:field="*{name}"
                                 aria-label="court-name" aria-describedby="courtNameAddon"
                                 disabled>
                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-prepend gruzini-input-group-text">
                                 <span class="input-group-text gruzini-input-group-text" id="addressAddon">
                                    Address:
                                 </span>
                          </div>
                          <input type="text" class="form-control gruzini-registration-text" id="courtAddress"
                                 th:field="*{address}"
                                 aria-label="address" aria-describedby="addressAddon"
                                 disabled>
                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-prepend gruzini-input-group-text">
                                 <span class="input-group-text gruzini-input-group-text" id="cityAddon">
                                    City:
                                 </span>
                          </div>
                          <input type="text" class="form-control gruzini-registration-text" id="city"
                                 th:field="*{city}"
                                 aria-label="city" aria-describedby="cityAddon"
                                 disabled>
                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-prepend gruzini-input-group-text">
                                 <span class="input-group-text gruzini-input-group-text" id="phoneAddon">
                                    Phone Number:
                                 </span>
                          </div>
                          <input type="text" class="form-control gruzini-registration-text" id="phoneNumber"
                                 th:field="*{phoneNumber}"
                                 aria-label="phone-number" aria-describedby="phoneAddon"
                                 disabled>
                        </div>

                        <button id="hiddenSubmitButton" type="submit" hidden></button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <a th:href="@{/hosted}" class="btn btn-warning gruzini-btn-success" role="button"
                     aria-pressed="true">
                    Show hosted
                  </a>
                  <button class="btn btn-success gruzini-btn-success" id="buttonSubmit"
                          onclick="submitByHiddenButton()">Next step
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--FOOTER-->
      <footer th:insert="/fragments/footer :: footer"></footer>
      <!--END FOOTER-->
    </div>
  </div>
  <!--JAVASCRIPT IMPORTS-->
  <div th:replace="/fragments/js-imports :: js-imports"></div>
  <script th:src="@{/js/geolocation.js}"></script>
  <script>
    function submitByHiddenButton() {
      document.getElementById("hiddenSubmitButton").click();
    }
  </script>
  <!--END JAVASCRIPT IMPORTS-->
</div>
</body>
</html>