<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="/fragments/head :: head"></head>


<body class="dark-edition" style="background-image: url(/img/background.jpg)">
<div class="wrapper ">
    <!--Side Bar-->
    <div th:insert="/fragments/sidebar :: sidebar"></div>
    <!--End Side Bar-->
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:insert="/fragments/navbar :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-12">
                        <div class="card card-chart">
                            <div class="card-header card-header-success">
                                <p class="gruzini-title">Create New</p>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Set Time and Location</h3>
                            </div>
                            <a href="/hosted">
                                <div class="card-footer">
                                    <h4 class="stats">
                                        <i class="material-icons">access_time</i> All available matches
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning card-title-content">
                                <p style="font-size: 40px; text-align: center; padding-top: 10px">0 - 0</p>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Your Next Match</h3>
                            </div>
                            <div class="card-footer">
                                <h4 class="stats">
                                    <i class="material-icons">access_time</i> 24/06/2020, Sopot 2 days remaining
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card card-chart">
                            <div class="card-header card-header-success  card-title-content">
                                <p style="font-size: 40px; text-align: center; padding-top: 10px" th:text="${lastMatch.getScore()} ? ${lastMatch.getScore()} : '- - -'"></p>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title" th:text="${lastMatch.opponent} ? 'Last Match - vs. ' + ${lastMatch.opponent.getFullName()} : 'No matches played yet'"></h3>
                            </div>
                            <div class="card-footer" data-link="matches-history" style="cursor: pointer">
                                <h4 class="stats">
                                    Playing History
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h3 class="gruzini-title">Your Activity</h3>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr th:each="notification : ${notifications}">
                                        <td th:text="${#temporals.format(notification.getCreatedAt(), 'dd.MM.yyyy, HH:mm')}"></td>
                                        <td th:text="${notification.getMessage()}"></td>
                                        <td class="td-actions text-right">
                                            <div th:if="${notification.getButtonName() != null && !notification.getClicked()}">
                                                <form method="post" th:action="@{__${notification.getEndpoint()}__}">
                                                    <input hidden type="text" name="match_id" th:value="${notification.getMatchId()}"/>
                                                    <input hidden type="text" name="trigger_id" th:value="${notification.getId()}"/>
                                                    <button class="btn btn-success gruzini-btn-success gruzini-button-small" th:text="${notification.getButtonName()}" type="submit"></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">emoji_events</i>
                                </div>
                                <h3 class="card-category">Win/Loss Record 0 - 0</h3>
                                <h3 class="card-title">Position in the ranking 300<small>th</small></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a href="#pablo" class="warning-link">See rankings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <h3 class="card-category">Invite your friends</h3>
                                <h3 class="card-title">Help to build the tennistico community</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a href="#pablo" class="warning-link">Click here to let them know about this app!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER-->
        <footer th:insert="/fragments/footer :: footer"></footer>
        <!--END FOOTER-->
    </div>
</div>
<!--JAVASCRIPT IMPORTS-->
<div th:replace="/fragments/js-imports :: js-imports"></div>
<!--END JAVASCRIPT IMPORTS-->
</body>

</html>