<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Tennistico</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Teko:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material-dashboard.css"/>
</head>
<body>
<body class="dark-edition" style="background-image: url(../static/img/welcome_page_background1.jpg); background-size: cover">
<img src="../static/img/logo1.png"  width="892px" style="padding-top: 200px; padding-left: 200px"/>


</body>


</body>
</html>