<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/head :: head"></head>

<body class="dark-edition" style="background-image: url(/img/background.jpg)">
<div class="wrapper ">

   <!--Side Bar-->
   <div th:insert="fragments/sidebar :: sidebar"></div>
   <!--End Side Bar-->

   <div class="main-panel">
      <!-- Navbar -->
      <nav th:insert="/fragments/navbar :: navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-header card-header-success">
                        <p class="gruzini-title">Matches History</p>
                     </div>
                     <div class="card-body table-responsive">
                        <table class="table table-hover">
                           <thead class="text-warning">
                           <tr>
                              <th class="gruzini-text-card-content">ID</th>
                              <th class="gruzini-text-card-content">Opponent</th>
                              <th class="gruzini-text-card-content">Court</th>
                              <th class="gruzini-text-card-content">Date</th>
                              <th class="gruzini-text-card-content">Score</th>
                              <th class="gruzini-text-card-content">Win / Loss</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr th:each="match, iter : ${archivedMatches}">
                              <td class="gruzini-text-card-content" th:text="${iter.index+1}"></td>
                              <td class="gruzini-text-card-content">
                                 <span class="player-modal"
                                       th:attr="data-id=${match.opponentId}"
                                       onclick="showPlayerModalByPlayerId(this.getAttribute('data-id'))"
                                       th:text="${match.opponentName}">
                                 </span>
                              </td>
                              <td class="gruzini-text-card-content" th:text="${match.courtName}"></td>
                              <td class="gruzini-text-card-content" th:text="${match.date}"></td>
                              <td class="gruzini-text-card-content gruzini-score-text" th:text="${match.score}"></td>
                              <td class="gruzini-text-card-content">
                                 <span th:if="${match.matchResult == 'WIN'}" style="color: #4caf50;">WIN</span>
                                 <span th:if="${match.matchResult == 'DRAW'}" style="color: #ff9800;">DRAW</span>
                                 <span th:if="${match.matchResult == 'LOSS'}" style="color: #f44336;">LOSS</span>
                              </td>
                           </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div th:insert="fragments/player-modal :: player-modal"></div>
         </div>
      </div>

      <!--FOOTER-->
      <footer th:insert="/fragments/footer :: footer"></footer>
      <!--END FOOTER-->
   </div>
</div>
<!--JAVASCRIPT IMPORTS-->
<div th:replace="/fragments/js-imports :: js-imports"></div>
<!--END JAVASCRIPT IMPORTS-->

</body>

</html>