<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/head :: head"></head>

<body class="dark-edition" style="background-image: url(/img/background.jpg)">
<div class="wrapper ">

   <!--Side Bar-->
   <div th:insert="fragments/sidebar :: sidebar"></div>
   <!--End Side Bar-->

   <div class="main-panel">
      <!-- Navbar -->
      <nav th:insert="/fragments/navbar :: navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-header card-header-success">
                        <p class="gruzini-title">Matches History</p>
                     </div>
                     <div class="card-body table-responsive">
                        <table class="table table-hover">
<!--                           TODO: add modal here for opponent -->
                           <thead class="text-warning">
                           <tr>
                              <th class="gruzini-text-card-content">ID</th>
                              <th class="gruzini-text-card-content">Opponent</th>
                              <th class="gruzini-text-card-content">Court</th>
                              <th class="gruzini-text-card-content">Date</th>
                              <th class="gruzini-text-card-content">Score</th>
                              <th class="gruzini-text-card-content">Win / Loss</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr th:each="match, iter : ${archivedMatches}">
                              <td class="gruzini-text-card-content" th:text="${iter.index+1}"></td>
                              <td class="gruzini-text-card-content">
                                 <span class="player-modal" style="cursor: pointer"
                                       th:attr="data-name=${match.opponent.getFullName()}"
                                       onclick="showModal(this.getAttribute('name'))"
                                       th:text="${match.opponent.getFullName()}">
                                 </span>
                              </td>
                              <td class="gruzini-text-card-content" th:text="${match.courtName}"></td>
                              <td class="gruzini-text-card-content" th:text="${match.date}"></td>
                              <td class="gruzini-text-card-content" th:text="${match.score}"></td>
                              <td></td>
                           </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div id="playerModal" class="modal">
               <div class="modal-content card">
                  <div class="card-header card-header-success">
                     <span id="modalTitle" class="gruzini-title"></span>
                     <span class="close">&times;</span>
                  </div>
                  <div class="card-body table-responsive">
                     <p>Modal body</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!--FOOTER-->
      <footer th:insert="/fragments/footer :: footer"></footer>
      <!--END FOOTER-->
   </div>
</div>
<!--JAVASCRIPT IMPORTS-->
<div th:replace="/fragments/js-imports :: js-imports"></div>
<!--END JAVASCRIPT IMPORTS-->

<script>
   // Get the modal
   let modal = document.getElementById("playerModal");

   // Get the <span> element that closes the modal
   let span = document.getElementsByClassName("close")[0];

   let modalTitle = document.getElementById("modalTitle");

   function showModal(fullName) {
      modalTitle.textContent = fullName;
      modal.style.display = "block";
   }

   // When the user clicks on <span> (x), close the modal
   span.onclick = function() {
      modal.style.display = "none";
   }

   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
      if (event.target === modal) {
         modal.style.display = "none";
      }
   }
</script>

</body>

</html>