<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:insert="/fragments/head :: head"></head>

<body class="dark-edition" style="background-image: url(/img/upcoming_background.jpg); background-size: cover">
<div class="wrapper">

  <!--Side Bar-->
  <div th:insert="fragments/sidebar :: sidebar"></div>
  <!--End Side Bar-->

  <div class="main-panel">
    <!-- Navbar -->
    <nav th:insert="/fragments/navbar :: navbar"></nav>
    <!-- End Navbar -->

    <div class="main-panel gruzini-registration-main-panel">
      <div class="content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-12">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <p class="gruzini-title">Ranking</p>
                </div>
                <div class="card-body">
                  <div class="card-body table-responsive gruzini-text-card-content">
                    <div class="gruzini-card-desc">
                      Description of ranking page
                    </div>

                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th class="gruzini-text-card-content">ID</th>
                        <th class="gruzini-text-card-content">Player</th>
                        <th class="gruzini-text-card-content">Ranking</th>
                        <th class="gruzini-text-card-content">W/D/L</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:if="${playerList != null && !playerList.isEmpty()}" th:each="player, iter : ${playerList}">
                        <td th:text="${iter.index+1}"></td>
                        <td th:text="${player.getFullName()}"></td>
                        <td th:text="${player.rankingPoints}" style="color: #f08f00;"></td>
                        <td>W-I-P</td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <span th:if="${currentPage == 1}">
                    &lsaquo;
                  </span>
                  <a th:unless="${currentPage == 1}" th:href="@{/ranking/page/__${currentPage - 1}__}">
                    &lsaquo;
                  </a>
                  <span th:text="${currentPage + ' / ' + numberOfPages}"></span>
                  <span th:if="${currentPage == numberOfPages}">
                    &rsaquo;
                  </span>
                  <a th:unless="${currentPage == numberOfPages}" th:href="@{/ranking/page/__${currentPage + 1}__}">
                    &rsaquo;
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div th:insert="fragments/player-modal :: player-modal"></div>
        </div>
      </div>
      <!--FOOTER-->
      <footer th:insert="/fragments/footer :: footer"></footer>
      <!--END FOOTER-->
    </div>
  </div>
</div>
<!--JAVASCRIPT IMPORTS-->
<div th:replace="/fragments/js-imports :: js-imports"></div>
<!--END JAVASCRIPT IMPORTS-->
</body>
</html>