<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:insert="/fragments/head :: head"></head>

<body class="dark-edition" style="background-image: url(/img/registration_3_background.jpg);
background-size: cover">
<div class="wrapper">
   <div class="main-panel gruzini-registration-main-panel">
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>

               <div class="col-xl-10 col-lg-12">
                  <div class="card card-chart">
                     <div class="card-header card-header-success">
                        <p class="gruzini-title">Registration</p>
                     </div>
                     <div class="card-body">
                        <div class="gruzini-progress-bar">
                           <ul class="list-unstyled multi-steps">
                              <li class="gruzini-progress-bar-steps-text">First step</li>
                              <li class="gruzini-progress-bar-steps-text">Second Step</li>
                              <li class="is-active gruzini-progress-bar-steps-text">Finish</li>
                           </ul>
                        </div>

                        <div class="d-flex justify-content-center">
                           <img class="gruzini-registration-logo" th:src="@{/img/logo1.png}"/>
                        </div>

                        <p class="gruzini-registration-finish-text text-center">
                           Thanks for signing up! To complete setting up your account check for verification email
                           sent to your address. If you did that already click the button bellow to login.
                        </p>
                     </div>
                     <div class="card-footer d-flex justify-content-center">
                        <a href="/login" class="btn btn-success gruzini-btn-success" role="button"
                           aria-pressed="true">
                           Login
                        </a>
                     </div>
                  </div>

                  <!--               placed here to put registration form in center -->
                  <div class="col-xl-1"></div>

               </div>
            </div>
            <div class="row">
               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>

               <div class="col-xl-10 col-lg-12">
                  <div class="card card-chart">
                     <div class="card-body">
                        <p class="gruzini-registration-finish-text text-center">
                           You have an account already? Click
                           <a th:href="@{/login}"> here </a>
                           to login.
                        </p>
                     </div>
                  </div>
               </div>
               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>
            </div>
         </div>
      </div>
      <!--FOOTER-->
      <footer th:insert="/fragments/footer :: footer"></footer>
      <!--END FOOTER-->
   </div>
</div>

<!--JAVASCRIPT IMPORTS-->
<div th:replace="/fragments/js-imports :: js-imports"></div>
<!--END JAVASCRIPT IMPORTS-->

</body>
</html>