<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:insert="/fragments/head :: head"></head>

<body class="dark-edition" style="background-image: url(/img/registration_2_background.jpg);
background-size: cover">
<div class="wrapper">
   <div class="main-panel gruzini-registration-main-panel">
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>

               <div class="col-xl-10 col-lg-12">
                  <div class="card card-chart">
                     <div class="card-header card-header-success">
                        <p class="gruzini-title">Registration</p>
                     </div>
                     <div class="card-body">

                        <div class="gruzini-progress-bar">
                           <ul class="list-unstyled multi-steps">
                              <li class="gruzini-progress-bar-steps-text">First step</li>
                              <li class="is-active gruzini-progress-bar-steps-text">Second Step</li>
                              <li class="gruzini-progress-bar-steps-text">Finish</li>
                           </ul>
                        </div>

                        <form method="post" th:action="@{/registration/step-two}"
                              th:object="${playerRegistrationForm}">

                           <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text gruzini-input-group-text" id="firstNameAddon">
                                    First name:
                                 </span>
                              </div>
                              <input type="text" class="form-control gruzini-registration-text"
                                     th:field="*{firstName}"
                                     placeholder="Enter first name" aria-label="first-name"
                                     aria-describedby="firstNameAddon">
                           </div>
                           <div class="d-flex justify-content-between">
                              <span class="gruzini-registration-error" th:if="${#fields.hasErrors('firstName')}"
                                    th:errors="*{firstName}"></span>
                           </div>

                           <div class="input-group mb-3">
                              <div class="input-group-prepend gruzini-input-group-text">
                                 <span class="input-group-text gruzini-input-group-text" id="lastNameAddon">
                                    Last name:
                                 </span>
                              </div>
                              <input type="text" class="form-control gruzini-registration-text"
                                     th:field="*{lastName}"
                                     placeholder="Enter last name" aria-label="last-name"
                                     aria-describedby="lastNameAddon">
                           </div>
                           <div class="d-flex justify-content-between">
                              <span class="gruzini-registration-error" th:if="${#fields.hasErrors('lastName')}"
                                    th:errors="*{lastName}"></span>
                           </div>

                           <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text gruzini-input-group-text"
                                       id="genderSelect">Gender:</span>
                              </div>
                              <select th:field="*{gender}" class="custom-select gruzini-select" aria-describedby="genderSelect">
                                 <option th:value="NONE" selected>Choose gender...</option>
                                 <option th:value="FEMALE">Female</option>
                                 <option th:value="MALE">Male</option>
                              </select>
                           </div>
                           <div class="d-flex justify-content-between">
                              <span class="gruzini-registration-error" th:if="${#fields.hasErrors('gender')}"
                                    th:errors="*{gender}"></span>
                           </div>

                           <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text gruzini-input-group-text" id="birthdayAddon">
                                    Birthday:
                                 </span>
                              </div>
                              <input type="date" class="form-control gruzini-registration-text"
                                     th:field="*{birthday}"
                                     aria-label="birthday"
                                     aria-describedby="birthdayAddon">
                           </div>
                           <div class="d-flex justify-content-between">
                              <span class="gruzini-registration-error" th:if="${#fields.hasErrors('birthday')}"
                                    th:errors="*{birthday}"></span>
                           </div>

                           <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text gruzini-input-group-text" id="experienceAddon">
                                    Years of experience:
                                 </span>
                              </div>
                              <input type="number" class="form-control gruzini-registration-text"
                                     th:field="*{yearsOfExperience}"
                                     min="0" max="99" aria-label="last-name"
                                     aria-describedby="experienceAddon">
                           </div>
                           <div class="d-flex justify-content-between">
                              <span class="gruzini-registration-error" th:if="${#fields.hasErrors('yearsOfExperience')}"
                                    th:errors="*{yearsOfExperience}"></span>
                           </div>

                           <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text gruzini-input-group-text"
                                       id="skillSelect">Player skill:</span>
                              </div>
                              <select th:field="*{playerSkill}" class="custom-select gruzini-select" aria-describedby="skillSelect">
                                 <option th:value="NONE" selected>Choose skill level...</option>
                                 <option th:value="BEGINNER">Beginner</option>
                                 <option th:value="AMATEUR">Amateur</option>
                                 <option th:value="ADVANCED">Advanced</option>
                                 <option th:value="PROFESSIONAL">Professional</option>
                              </select>
                           </div>
                           <div class="d-flex justify-content-between">
                              <span class="gruzini-registration-error" th:if="${#fields.hasErrors('playerSkill')}"
                                    th:errors="*{playerSkill}"></span>
                           </div>

                           <button id="hiddenSubmitButton" type="submit" hidden></button>
                        </form>
                     </div>
                     <div class="card-footer d-flex justify-content-center">
                        <a th:href="@{/registration/step-one}" class="btn btn-warning gruzini-btn-success" role="button"
                           aria-pressed="true">
                           Go back
                        </a>
                        <button class="btn btn-success gruzini-btn-success" id="buttonSubmit"
                                onclick="submitByHiddenButton()">Next step
                        </button>
                     </div>
                  </div>
               </div>

               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>

            </div>
            <div class="row">
               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>

               <div class="col-xl-10 col-lg-12">
                  <div class="card card-chart">
                     <div class="card-body">
                        <p class="gruzini-registration-finish-text text-center">
                           You have an account already? Click
                           <a th:href="@{/login}"> here </a>
                           to login.
                        </p>
                     </div>
                  </div>
               </div>
               <!--               placed here to put registration form in center -->
               <div class="col-xl-1"></div>
            </div>
         </div>
      </div>
      <!--FOOTER-->
      <footer th:insert="/fragments/footer :: footer"></footer>
      <!--END FOOTER-->
      <script>
         function submitByHiddenButton() {
            document.getElementById("hiddenSubmitButton").click();
         }
      </script>
   </div>
</div>

<!--JAVASCRIPT IMPORTS-->
<div th:replace="/fragments/js-imports :: js-imports"></div>
<!--END JAVASCRIPT IMPORTS-->

</body>
</html>